#div8{
    width: 100px;
    height: 100px;
    background-color: rgb(134, 97, 146);
}#div8:hover{
    animation-name: back;
    animation-duration: 3s;
}@keyframes back{
0%{
    background-color: rgb(134, 97, 146);
}25%{
    background-color: blue;
}50%{background-color: blueviolet;}
100%{background-color: brown;}
}
#div9{
    width: 100px;
    height: 100px;
    margin-bottom: 70px;
    background-color: rgb(134, 97, 146);
    position: relative;
    animation-name: back2;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: 4;
}@keyframes back2{
    0%{
        background-color: rgb(134, 97, 146);left:0px; top:0px
    }25%{
        background-color: blue;left:200px; top:0px;
    }50%{background-color: blueviolet;left:200px; top:20px}
    75%{background-color: yellow;left:0px; top:20px}
    100%{background-color: brown;left:0px; top:0px}
    }
